@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import '~normalize.css';

body,
body * {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

div {
  width: 100%;
}

a, span, p {
  font-size: inherit;
  font-weight: inherit;
}
