$colorBase: #1a73e8;
$colorGray: #ccc;
$colorGrayLight: #eee;
$colorGrayMedium: #888;
$colorGrayDark: #555;
$colorRed: #f00;
$colorBlack: #000;
$colorBlackLight: #111;
$colorWhite: #fff;
$colorWhiteLight: #f8f9fa;
$colorWhiteDark: #e2e3e3;
$colorGreen: green;

$colorBackgroundOverlay: rgba(0, 0, 0, 0.7);
