@import 'variables';
@import 'colors';

@mixin button($color: $colorGrayDark) {
  height: 24px;
  width: 24px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: $colorBackgroundOverlay;
  border-radius: $borderRadius;

  span {
    font-size: 18px;
  }

  &:active, &.active {
    color: $color;
  }

  &:hover {
    background-color: $colorGrayLight;
    cursor: pointer;
  }
}

@mixin clearList() {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
