@import 'variables';
@import 'mixins';
@import 'colors';

.dashboard {
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__header {
    position: sticky;
    top: 0;
    text-align: center;
    padding: $blockPaddings;
    box-shadow: 0 2px 5px 2px rgba(60, 64, 67, 0.15);
    z-index: 1000;
    background-color: $colorWhite;

    h1 {
      font-size: 24px;
    }
  }

  &__templates {
    background-color: $colorWhiteLight;
    padding: 20px 0;

    a {
      width: 120px;
      height: 120px;
      border-radius: 4px;
      border: 1px solid $colorGray;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $colorWhite;
      text-decoration: none;
      text-align: center;
      color: $colorBlack;
      font-size: 1.3rem;
      line-height: 1.3;
      transition: color $transitionTime, border-color $transitionTime;

      &:hover {
        color: $colorGreen;
        border-color: $colorGreen;
      }
    }
  }

  &__list {
    padding: 1rem;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      font-weight: bold;

      span {
        font-size: 16px;
      }
    }
  }

  &__items {
    @include clearList();
  }

  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      color: $colorBlack;
      padding: 10px;
      border: 1px solid $colorGray;
      border-radius: 2px;
      font-size: 14px;
      transition: border-color $transitionTime;

      span {
        transition: color $transitionTime;
      }

      &:hover {
        border-color: $colorGreen;

        span:first-child {
          color: $colorGreen;
        }
      }
    }
  }
}
