@import 'variables';
@import 'mixins';
@import 'colors';

.excel__formula {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $colorGray;

  .info {
    color: $colorGrayDark;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    border-right: 1px solid $colorGray;
    width: $cellInfoWidth;
    text-align: center;
    margin: -1px;
    height: 100%;
  }

  .input {
    flex: 1;
    height: 100%;
    font-size: 14px;
    outline: none;
    color: $colorBlack;
    padding: 6px 10px;
  }
}
