@import 'variables';
@import 'mixins';
@import 'colors';

.excel__header {
  padding: $blockPaddings;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .input {
    padding: 2px 7px;
    font-size: 16px;
    border-radius: $borderRadius;
    border: 1px solid $colorGray;
    outline: none;
    transition: box-shadow $transitionTime, border-color $transitionTime;

    &:focus {
      box-shadow: 0 0 0 2px $colorBase;
      border-color: transparent;
    }
  }

  &__buttons {
    display: flex;
    flex: 0;

    .button {
      @include button($colorRed);

      &:first-child {
        margin-right: $gap;
      }
    }
  }
}
