@import 'header';
@import 'toolbar';
@import 'formula';
@import 'table';
@import 'dashboard';

.excel {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;

  &__top-wrapper {
    flex: 0;
  }
}
