@import 'variables';
@import 'mixins';
@import 'colors';

@mixin resize($type: 'row') {
  position: absolute;
  background-color: $colorBase;
  opacity: 0;
  transition: opacity $transitionTime;
  z-index: 10;

  @if($type == 'row') {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
  } @else {
    top: 0;
    right: 0;
    height: 100%;
    width: 4px;
  }

  &:hover {
    opacity: 1 !important;
    @if($type == 'row') {
      cursor: row-resize;
    } @else {
      cursor: col-resize;
    }
  }
}

.excel__table {
  overflow: auto;
  flex: 1;

  .row__resize, .cell__resize {
    position: absolute;
    bottom: 0;
  }

  .row {
    display: flex;
    min-height: 20px;
    height: $rowDefaultHeight;

    &__info {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $cellInfoWidth;
      min-width: $cellInfoWidth;
      height: 100%;
      border: 1px solid $colorGray;
      border-top: none;
      background-color: $colorWhiteLight;
      color: $colorGrayMedium;
      position: relative;
    }

    &__resize {
      @include resize('row')
    }

    &__data {
      display: flex;

      .cell {
        min-width: $cellInfoWidth;
        width: $cellDefaultWidth;
        border: 1px solid $colorGray;
        border-top: none;
        border-left: none;
        white-space: nowrap;
        display: flex;
        align-items: center;
        padding: 5px;
        flex: 1 0 auto;
        color: $colorBlackLight;
        transition: box-shadow $transitionTime;
        outline: none;
        position: relative;

        &:focus {
          box-shadow: 0 0 0 2px $colorBase;
          z-index: 2;
        }

        &--head {
          background-color: $colorWhiteLight;
          justify-content: center;
          color: $colorGrayMedium;
        }

        &__resize {
          @include resize('col')
        }
      }
    }
  }
}
