@import 'variables';
@import 'mixins';
@import 'colors';

.excel__toolbar {
  padding: $blockPaddings;
  border-top: 1px solid $colorGray;
  border-bottom: 1px solid $colorGray;
  display: flex;

  .button {
    @include button(green);
  }
}
